.DS_Store
example-bpms-model/.classpath
example-bpms-model/.DS_Store
example-bpms-model/.classpath
example-bpms-model/.settings/org.eclipse.core.resources.prefs
kie-sboot-pvp/.classpath
kie-sboot-pvp/.factorypath
kie-sboot-pvp/.settings/org.eclipse.core.resources.prefs
kie-sboot-pvp/.settings/org.eclipse.jdt.apt.core.prefs
kie-sboot-pvp/.settings/org.eclipse.jdt.core.prefs
myworkitem/target/.plxarc
myworkitem/target/myworkitem-1.0.0-SNAPSHOT-project-sources.tar.gz
myworkitem/target/myworkitem-1.0.0-SNAPSHOT-tests.jar
myworkitem/target/myworkitem-1.0.0-SNAPSHOT.jar
myworkitem/target/myworkitem-1.0.0-SNAPSHOT.zip
myworkitem/target/classes/defaultprocess.st
myworkitem/target/classes/icon.png
myworkitem/target/classes/indextemplate.st
myworkitem/target/classes/jsontemplate.st
myworkitem/target/classes/kie-ddtemplate.st
myworkitem/target/classes/MyDefinitions.wid
myworkitem/target/classes/myworkitem.wid
myworkitem/target/classes/repoconf.part
myworkitem/target/classes/repofooter.html
myworkitem/target/classes/repoheader.html
myworkitem/target/classes/repoindex.html
myworkitem/target/classes/repoindex.part
myworkitem/target/classes/serviceinfo.st
myworkitem/target/classes/serviceinfofooter.js
myworkitem/target/classes/serviceinfoheader.js
myworkitem/target/classes/widtemplate.st
myworkitem/target/classes/com/redhat/MyWorkItemHandler.class
myworkitem/target/failsafe-reports/failsafe-summary.xml
myworkitem/target/generated-sources/annotations/index.html
myworkitem/target/generated-sources/annotations/kie-deployment-descriptor.xml
myworkitem/target/generated-sources/annotations/MyDefinitions.wid
myworkitem/target/generated-sources/annotations/myworkitem.bpmn2
myworkitem/target/generated-sources/annotations/myworkitem.wid
myworkitem/target/generated-sources/annotations/repoindex.html
myworkitem/target/generated-sources/annotations/serviceinfo.json
myworkitem/target/generated-sources/java/com/redhat/MyWorkItemHandler.java
myworkitem/target/maven-archiver/pom.properties
myworkitem/target/maven-shared-archive-resources/defaultprocess.st
myworkitem/target/maven-shared-archive-resources/indextemplate.st
myworkitem/target/maven-shared-archive-resources/jsontemplate.st
myworkitem/target/maven-shared-archive-resources/kie-ddtemplate.st
myworkitem/target/maven-shared-archive-resources/repoconf.part
myworkitem/target/maven-shared-archive-resources/repofooter.html
myworkitem/target/maven-shared-archive-resources/repoheader.html
myworkitem/target/maven-shared-archive-resources/repoindex.part
myworkitem/target/maven-shared-archive-resources/serviceinfo.st
myworkitem/target/maven-shared-archive-resources/serviceinfofooter.js
myworkitem/target/maven-shared-archive-resources/serviceinfoheader.js
myworkitem/target/maven-shared-archive-resources/widtemplate.st
myworkitem/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
myworkitem/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
myworkitem/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
myworkitem/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
myworkitem/target/myworkitem-1.0.0-SNAPSHOT/icon.png
myworkitem/target/myworkitem-1.0.0-SNAPSHOT/index.html
myworkitem/target/myworkitem-1.0.0-SNAPSHOT/kie-deployment-descriptor.xml
myworkitem/target/myworkitem-1.0.0-SNAPSHOT/MyDefinitions.wid
myworkitem/target/myworkitem-1.0.0-SNAPSHOT/myworkitem-1.0.0-SNAPSHOT.jar
myworkitem/target/myworkitem-1.0.0-SNAPSHOT/myworkitem.bpmn2
myworkitem/target/myworkitem-1.0.0-SNAPSHOT/myworkitem.wid
myworkitem/target/myworkitem-1.0.0-SNAPSHOT/repoconf.part
myworkitem/target/myworkitem-1.0.0-SNAPSHOT/repoindex.html
myworkitem/target/myworkitem-1.0.0-SNAPSHOT/serviceinfo.json
myworkitem/target/test-classes/defaultprocess.st
myworkitem/target/test-classes/indextemplate.st
myworkitem/target/test-classes/jsontemplate.st
myworkitem/target/test-classes/kie-ddtemplate.st
myworkitem/target/test-classes/repoconf.part
myworkitem/target/test-classes/repofooter.html
myworkitem/target/test-classes/repoheader.html
myworkitem/target/test-classes/repoindex.part
myworkitem/target/test-classes/serviceinfo.st
myworkitem/target/test-classes/serviceinfofooter.js
myworkitem/target/test-classes/serviceinfoheader.js
myworkitem/target/test-classes/widtemplate.st
example-bpms-model/.classpath
example-bpms-model/.settings/org.eclipse.core.resources.prefs
kie-sboot-pvp/.classpath
kie-sboot-pvp/.settings/org.eclipse.jdt.apt.core.prefs
kie-sboot-pvp/.settings/org.eclipse.jdt.core.prefs
kie-sboot-pvp/src/main/resources/application.yml
